
<p-toast></p-toast>
<button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
<p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>

<div class="main">
<div class="poll">
<h3>Poll title</h3><p-rating [(ngModel)]="val1" [cancel]="false"></p-rating><br>
  <p-button (click)="showPositionDialog('top')" icon="pi pi-arrow-down" label="Chart" styleClass="p-button"></p-button>
  <p-dialog header="Poll rating" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '35%'}"
            [draggable]="false" [resizable]="false">
    <p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{width: '100px' ,height:'100px'}"></p-chart>


    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit tempor urna eget rutrum.
    Maecenas non venenatis justo. Integer gravida mi imperdiet nibh condimentum tincidunt.
    Aliquam mattis blandit elit sit amet rhoncus. Fusce sit amet ex non augue accumsan commodo.
    Etiam non aliquet libero. Etiam venenatis tellus tellus, nec elementum lectus dignissim volutpat.
    Mauris vitae arcu nisi. Nullam eget urna a orci iaculis feugiat.
    Vestibulum varius risus sit amet aliquet placerat. Morbi luctus convallis massa at mollis.
  </p><br>
  <p-fieldset legend="Comment section" [toggleable]="true">
      <span class="p-float-label">
    <input id="float-input" type="text" [style]="{width:'750px'}"  pInputText >
    <label for="float-input">Add comment...</label>
    </span>
    <div class="comment">
      <h5 class="user">Username</h5>
      <h5 class="time">TimeStamp</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit tempor urna eget rutrum.</p>
    </div>
    <div class="comment">
      <h5 class="user">Username</h5>
      <h5 class="time">TimeStamp</h5>
      <p> Maecenas non venenatis justo. Integer gravida mi imperdiet nibh condimentum tincidunt.</p>
    </div>
    <div class="comment">
      <h5 class="user">Username</h5>
      <h5 class="time">TimeStamp</h5>
      <p>Aliquam mattis blandit elit sit amet rhoncus. Fusce sit amet ex non augue accumsan commodo.</p>
    </div>
  </p-fieldset>
</div>
  <div class="poll">
    <h3>Poll title</h3><p-rating [(ngModel)]="val2" [cancel]="false"></p-rating>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit tempor urna eget rutrum.
      Maecenas non venenatis justo. Integer gravida mi imperdiet nibh condimentum tincidunt.
      Aliquam mattis blandit elit sit amet rhoncus. Fusce sit amet ex non augue accumsan commodo.
      Etiam non aliquet libero. Etiam venenatis tellus tellus, nec elementum lectus dignissim volutpat.
      Mauris vitae arcu nisi. Nullam eget urna a orci iaculis feugiat.
      Vestibulum varius risus sit amet aliquet placerat. Morbi luctus convallis massa at mollis.
    </p><br>
    <p-fieldset legend="Comment section" [toggleable]="true">
      <span class="p-float-label">
    <input id="float-input" type="text" [style]="{width:'750px'}"  pInputText >
    <label for="float-input">Add comment...</label>
    </span>
    </p-fieldset>
  </div>

  <div class="poll">
    <h3>Poll title</h3><p-rating [(ngModel)]="val3" [cancel]="false"></p-rating>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit tempor urna eget rutrum.
      Maecenas non venenatis justo. Integer gravida mi imperdiet nibh condimentum tincidunt.
      Aliquam mattis blandit elit sit amet rhoncus. Fusce sit amet ex non augue accumsan commodo.
      Etiam non aliquet libero. Etiam venenatis tellus tellus, nec elementum lectus dignissim volutpat.
      Mauris vitae arcu nisi. Nullam eget urna a orci iaculis feugiat.
      Vestibulum varius risus sit amet aliquet placerat. Morbi luctus convallis massa at mollis.
    </p><br>
    <p-fieldset legend="Comment section" [toggleable]="true">
      <span class="p-float-label">
    <input id="float-input" type="text" [style]="{width:'750px'}"  pInputText >
    <label for="float-input">Add comment...</label>
    </span>
    </p-fieldset>

  </div>
</div>


